body {
  background-color: #00111f;
  color: #e4e4e4;
  font-family: Arial, sans-serif;
}

li {
  padding-top: 10px;
}

.top-item {
  margin-top: 10px;
  border-radius: 12px;
  background-color: #001a2f;
  padding: 5px;
  text-align: center;
}
.navbar {
  display: flex;
  border-radius: 12px;
  background-color: #003a69;
  padding-bottom: 10px;
  padding-top: 10px;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  margin: 0;
  color: #ffffff;
  text-align: center;
  padding-left: 15px;
  padding-right: 20px;
}

.navbar .go-back {
  color: #ffffff;
  padding-left: 10px;
  padding-right: 20px;
  transition: color 0.3s, transform 0.3s;
}

.navbar .go-back:hover {
  color: #0068ad;
  text-decoration: underline;
  transform: scale(1.1);
}

.content {
  margin-top: 20px;
  border-radius: 12px;
  background-color: #001628;
  padding: 30px;
}

a {
  text-decoration: none;
  color: #51b1ff;
}

.content a {
  color: #00abe9;
  transition: color 0.3s, transform 0.3s;
}

.content a:hover {
  color: #ffffff;
  text-decoration: underline;
  transform: scale(1.1);
}

details summary {
  font-size: 1.2em;
  cursor: pointer;
  padding: 10px;
}

details details {
  margin-left: 20px;
}

details summary h2,
details summary h3 {
  display: inline;
  font-size: 1.2em;
  font-weight: bold;
}

ol {
  margin-left: 20px;
}
